body{
	font-family:"poppins", sans-serif;
}

*{
	box-sizing : border-box;
	/*제요소에게 선언. 가급적 습관적으로 선언하는 것을 습관들이는 것을 권장.*/
}

.box{
	/*box-sizing : border-box;*/
	width : 480px;
	height : 480px;
	
	padding-top : 40px;
	padding-left : 50px;
	/*[box-sizing이 없는 경우] 박스를 정사각형으로 맞추어주기 위해서는width + padding의 합산값으로 고려해주어야한다.
	그러나 일반적으로 border-box영역을 개별 컨텐츠의 영역으로 보는 것이 인간의 일반적인 인식이나, css에서는 box-sizing 의 default가 content-box이기 때문에, 해당 기준을 조정해주는 box-sixing:border-box; 를 선언해주는 것이 필요하다
	*/
	background-color : #0066ff;
	color: #ffffff
	
	
}